html {
  background-color: rgb(70, 99, 155);
  color: black;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.weather {
  border-style: solid;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin: 16px
}

.clock {
  display: flex;
  order:1;
  align-self:center;
  flex-direction: column;
  text-align: center;
}

.time {
  font-size: 48px;
}

.forecast {
  order: 1
}

.temperature {
  align-self: center;
}

.news-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  grid-template-columns: 2fr 6fr;
  padding: 8px 8px;
}

.articles-container {
  display: flex;
  flex-direction: column;
  max-width: 130ch;
}

.posts-container {
  max-width: 40ch
}

.headline {
  margin-top: 0;
}

.posts-YC {
  border-style: solid;
  padding: 16px;
  background-color: rgb(155, 107, 44);
  margin: 8px;
  max-width: 30ch;
}

.articles-AP {
  background-color: rgb(60, 126, 82);
  border-style: solid;
  margin: 8px;
  padding: 4px 8px 0px;
  max-width: 60ch
}
